<li class="nav-item">
    <a href="{{ path('pterodactyl.admin') }}" class="nav-link {{ is_subpath('pterodactyl.admin') ? 'active' }}">
        <i class="nav-icon fas fa-cubes"></i>
        <p>
            Pterodactyl
        </p>
    </a>
</li>